{% extends 'base.html.twig' %}

{% block title %}Taches{% endblock %}

{% block body %}
    <div class="container mt-3">
    
        <h2>Mes Taches</h2>

        <a href="{{ path('tache.index')}}" class="btn btn-primary mb-3">Créer une tâche</a>


    {% if not taches.items is same as ([]) %}


        <div class="row mb-4">

            <div class="col-sm-3 animate__animated animate__slideInDown">
    <div class="card text-white bg-success mb-3">
        <div class="card-body">
            <h5 class="card-title">Tâches Terminées</h5>
            <p class="card-text">{{ totalTachesTerminees }}</p>
        </div>
    </div>
</div>

            <div class="col-sm-3 animate__animated animate__slideInDown">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Tâches en Cours</h5>
                        <p class="card-text">{{ totalTachesEnCours }}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 animate__animated animate__slideInDown">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Tâches à faire</h5>
                        <p class="card-text">{{ totalTachesEnAttente }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 animate__animated animate__slideInDown">
                <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total de Tâches</h5>
                        <p class="card-text">{{ taches.getTotalItemCount }}</p>
                    </div>
                </div>
            </div>
        </div>

            
   <div class="d-flex justify-content-between mb-4 mb-2 animate__animated animate__slideInDown">
    <div class="btn-group" role="group">
        <!-- Menu déroulant de tri -->
     <div class="dropdown">
    <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Trier par
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="{{ path('app_tache', {'sort': 'date_echeance'}) }}">Date</a>
        <a class="dropdown-item" href="{{ path('app_tache', {'sort': 'priorite'}) }}">Priorité</a>
    </div>
</div>


</div>

    </div>

    <div class="btn-group" role="group">
        <!-- Menu déroulant de filtrage -->
        <div class="dropdown">
            <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrer par statut
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                <a class="dropdown-item" href="{{ path('app_tache', {'sort': app.request.query.get('sort'), 'statut': 'a faire'}) }}">A faire</a>
                <a class="dropdown-item" href="{{ path('app_tache', {'sort': app.request.query.get('sort'), 'statut': 'en cours'}) }}">En cours</a>
                <a class="dropdown-item" href="{{ path('app_tache', {'sort': app.request.query.get('sort'), 'statut': 'terminee'}) }}">Terminée</a>
                <a class="dropdown-item" href="{{ path('app_tache') }}">Toutes les tâches</a>
            </div>
        </div>
    </div>
</div>



            {# read and display just one flash message type #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-3">
                {{ message }}
            </div>
        {% endfor %}


        <table class="table table-hover my-1">
            <thead>
                <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date d'echéance</th>
                    <th scope="col">Priorité</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
                {% for tache in taches %}
                <tr class="table-primarlight">
                    <th scope="row">{{ tache.id }}</th>
                    <td>{{ tache.titre }}</td>
                    <td>{{ tache.description }}</td>
                    <td>{{ tache.dateEcheance|date('Y-m-d') }}</td>
                    <td>{% if tache.priorite == 'Haute' %}
                                    <span class="badge bg-danger">Haute</span>
                                {% elseif tache.priorite == 'Moyenne' %}
                                    <span class="badge bg-warning">Moyenne</span>
                                {% elseif tache.priorite == 'Basse' %}
                                    <span class="badge bg-info">Basse</span>
                                {% endif %}</td>
                    <td>{% if tache.statut == 'Terminée' %}
                                    <span class="badge bg-success">Terminée</span>
                                {% elseif tache.statut == 'En cours' %}
                                    <span class="badge bg-primary">En cours</span>
                                {% elseif tache.statut == 'À faire' %}
                                    <span class="badge bg-secondary">À faire</span>
                                {% endif %}</td>

                       <td>
                   <a href="{{ path('tache.show', {'id': tache.id}) }}" class="btn btn-info">Voir</a>

                    </td>           
                    <td>
                    <a href="{{ path('tache.edit',{ id: tache.id }) }}" class="btn btn-secondary">Modifier</a>
                    </td>
                    <td>
                    
                    <a href="{{ path('tache.delete', { id: tache.id }) }}" class="delete-link btn btn-danger" data-confirm="Êtes-vous sûr de vouloir supprimer cette tâche ?">Supprimer</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center mt-3">
    {{ knp_pagination_render(taches) }}
        <script>
            const deleteLinks = document.querySelectorAll('.delete-link');
            
            deleteLinks.forEach(link => {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    const confirmationMessage = link.getAttribute('data-confirm');
                    
                    if (confirm(confirmationMessage)) {
                        window.location.href = link.getAttribute('href');
                    }
                });
            });
        </script>
<script>
    $(document).ready(function () {
        // Initialisation des composants Bootstrap
        $('.dropdown-toggle').dropdown();
    });
</script>

</div>
{% else %}
<h4>Il n'a pas de taches</h4>
{% endif %}
    </div>
{% endblock %}

        
